.pagination {
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  max-width: 100%;
  padding: 20px 0;
  margin-right: auto;
  align-items: center;
  width: max-content;
}

@media (min-width: 760px) {
  .pagination {
    max-width: 500px;
  }
}

.pagination li {
  color: #3498db;
  padding: 5px 10px;
}

.paginate-button {
  border: 1px solid #3498db;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.pagination .active {
  background-color: #3498db;
  color: #fafafa;
}

.pagination li.previous {
  padding-left: 0;
}
.pagination li.next {
  padding-right: 0;
}
